/*
  ============================================================
  TOKENS
  ============================================================

  Variables reutilizables para mantener un sistema visual
  consistente en todo el documento.
*/

:root {
  --color-background: #e7cbb8;
  --color-text: #101936;
  --color-heading: #56001e;
  --color-accent: #adc4ca;
  --color-accent2: #5d5e2f;
  --font-family-title: "mina", Georgia, serif;
  --font-family-subtitle: "tt-modernoir", Georgia, serif;
  --font-family-body: "warbler-banner", Georgia, serif;
  --font-family-body2: "warbler-banner", Georgia, serif, italic;
  --font-size-body: 1.5rem;
  --font-size-h1: 4rem;
  --font-size-h2: 3rem;
  --font-size-h3: 1.25rem;
  --font-size-h4: .9rem;
  --font-size-h5: 2rem;
  --font-size-h6:1.9rem;
  --font-weight-sub: 300;
 

}

/*
  ============================================================
  SELECTOR UNIVERSAL
  ============================================================
  * funciona como un comodín.
  Selecciona todos los elementos HTML.
*/

* {
  box-sizing: border-box;
}


/*
  ============================================================
  BODY
  ============================================================

  Define el sistema visual base del documento.  
  font family
  font size
  color
  background color.
  margin: 0;
  padding: 0; 
  line-height: 0;
*/
body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
}

/*
  ============================================================
  JERARQUÍA TIPOGRÁFICA
  ============================================================

  HTML define la jerarquía.
  CSS controla su representación visual.
  h1, h2, h3 font family: var(--font -title);
  font weight: 400
  tamaño tipografico: cada uno con sus valores   */

h1 {
  font-family: var(--font-family-title);
  color: var(--color-heading);
  font-size: var(--font-size-h1);
  line-height: 1.2em;
}
h1 small {
  font-size: .6em;
  color: var(--color-text);
  margin: 0;
  line-height: .5em;
  text-align: right;
  font-size: 2rem;
}
h2 {
  font-family: var(--font-family-subtitle);
  font-size: var(--font-size-h2);
  color: var(--color-accent);
  text-align: center;
  line-height: 1.4em;
}

h2 small {
  font-family: var(--font-family-title);
  color: #adc4ca;
  font-size: var(--font-size-h2);
  line-height: 1.4em;
}



h3 {
  font-family: var(--font-family-title);
  color: var(--color-heading);
  font-size: var(--font-size-h3);
  text-align: left;
}

h4 {
  font-family: var(--font-family-subtitle);
  color: var(--color-heading);
}

legend {
  font-family: "tt-modernoir", Georgia, serif;
  font-weight: 300;
  font-size: var(--font-size-h2);
  color: var(--color-heading);
}

.P01 {
  color: #5d5e2f;
}

.P02 {
  color: #e7cbb8;
}

.P03 {
  color: #5d5e2f;
}

.P04 {
  color: #493431;
}

.P05 {
  color: #56001e;
}


.R01 {
  color: #5d5e2f;
}

.R02 {
  color: #e7cbb8;
}

.R03 {
  color: #5d5e2f;
}

.R04 {
  color: #493431;
}

.R05 {
  color: #56001e;
}

.site-subtitle{
font-family: var(--font-family-subtitle);
  text-align: center;
  font-size: var(--font-size-h2);
}


.test-intro {
  font-family: var(--font-family-subtitle);
  text-align: center;
  font-weight: 600;
  color: var(--color-background);
}

.test-intro2 {
  font-family: var(--font-family-body);
  text-align: center;
  font-weight: 600;
  color: var(--color-accent);
}

main > details > summary {
  font-family: "tt-modernoir", Georgia, serif;
  font-weight: 500;
  color: var(--color-heading);
}

h1,
main > details > summary {
  text-align: center;
}

h2,
main > details > summary {
  text-align: center;
  color: var(--color-heading);
}

.tagline,
.test-intro,
.site-subtitle {
  text-align: center;
}

.resultado-titulo,{
text-align: center;
font-size: var(--font-size-h2);
font-family: var(--font-family-subtitle);
}

.test-resultado{
text-align: center;
font-size: var(--font-size-h2);
font-family: var(--font-family-subtitle);
color: #e7cbb8;
}


.autora-frase {
  margin: 2rem 0 1rem;
  text-align: center;
  font-family: var(--font-family-title);
  font-size: var(--font-size-h3);
  color: #101936;
}

.resultados-lista article {
  margin-bottom: 1.5rem;
}

.hero-gabinete {
  display: grid;
  /* grid-template-columns: minmax(0, 1fr) minmax(220px, 0.8fr); */
  gap: 2rem;
  align-items: center;
  min-height: 24rem;
  margin-bottom: 3rem;
  line-height: 1.4em;
}

.hero-copy {
  line-height: 1.4;
  text-align: left;
}

.hero-copyp1 {
  line-height: 1.2em;
  text-align: center;
  font-family: "tt-modernoir", Georgia, serif;
  font-size: 3rem;
  color: #56001e;
  margin-bottom: 0;
}

.hero-copyp2 {
  line-height: 1em;
  text-align: center;
  font-family: "tt-modernoir", Georgia, serif;
  font-size: 1.8rem;
  color: #56001e;
  margin-top: 0;
}

/*.hero-copy p {
  line-height: 1.6;
  text-align: center;
}*/

.hero-cta {
  display: inline-block;
  margin-top: 1.5rem;
  margin-right: 0.75rem;
  padding: .9rem 1.2rem;
  line-height: 1.2;
  vertical-align: middle;
  border-radius: 999px;
  background-color: #5d5e2f;
  color: #e7cbb8;
  font-family: "tt-modernoir", Georgia, serif;
  font-weight: 500;
  text-decoration: none;
  text-align: center;

}

.hero-ctb {
  display: inline-block;
  margin-top: 1.5rem;
  margin-right: 0.75rem;
  padding: .9rem 1.2rem;
  line-height: 1.2;
  vertical-align: middle;
  border-radius: 999px;
  background-color: #adc4ca;
  color: #5d5e2f;
  font-family: "tt-modernoir", Georgia, serif;
  font-weight: 500;
  text-decoration: none;
  text-align: center;

}

.hero-siguiente1 {
  display: inline-block;
  margin-top: 1rem;
  margin-right: 0.75rem;
  padding: .9rem .9rem;
  line-height: 1.2;
  vertical-align: middle;
  border-radius: 999px;
  background-color: #5d5e2f;
  color: #e7cbb8;
  font-family: "tt-modernoir", Georgia, serif;
  font-weight: 500;
  text-decoration: none;
  text-align: center;

}

.hero-siguiente2 {
  display: inline-block;
  margin-top: 1rem;
  margin-right: 0.75rem;
  padding: .9rem .9rem;
  line-height: 1.2;
  vertical-align: middle;
  border-radius: 999px;
  background-color: #e7cbb8;
  color: #493431;
  font-family: "tt-modernoir", Georgia, serif;
  font-weight: 500;
  text-decoration: none;
  text-align: center;

}

.hero-siguiente3 {
  display: inline-block;
  margin-top: 1rem;
  margin-right: 0.75rem;
  padding: .9rem .9rem;
  line-height: 1.2;
  vertical-align: middle;
  border-radius: 999px;
  background-color: #5d5e2f;
  color: #e7cbb8;
  font-family: "tt-modernoir", Georgia, serif;
  font-weight: 500;
  text-decoration: none;
  text-align: center;

}

.hero-siguiente4 {
  display: inline-block;
  margin-top: 1rem;
  margin-right: 0.75rem;
  padding: .9rem .9rem;
  line-height: 1.2;
  vertical-align: middle;
  border-radius: 999px;
  background-color: #493431;
  color: #e7cbb8;
  font-family: "tt-modernoir", Georgia, serif;
  font-weight: 500;
  text-decoration: none;
  text-align: center;

}

.hero-siguiente5 {
  display: inline-block;
  margin-top: 1rem;
  margin-right: 0.75rem;
  padding: .9rem .9rem;
  line-height: 1.2;
  vertical-align: middle;
  border-radius: 999px;
  background-color: #e7cbb8;
  color: #56001e;
  font-family: "tt-modernoir", Georgia, serif;
  font-weight: 500;
  text-decoration: none;
  text-align: center;

}

.hero-texto {
  display: inline-block;
  margin-top: 1rem;
  margin-right: 0.75rem;
  padding: .9rem .9rem;
  line-height: 1.2;
  vertical-align: middle;
  border-radius: 999px;
  background-color: #5d5e2f;
  color: #dad9b8;
  font-family: "tt-modernoir", Georgia, serif;
  font-weight: 500;
  text-decoration: none;
  text-align: center;

}

.hero-autora {
  display: inline-block;
  margin-top: 1rem;
  margin-right: 0.75rem;
  padding: .9rem .9rem;
  line-height: 1.2;
  vertical-align: middle;
  border-radius: 999px;
  background-color: #dad9b8;
  color: #493431;
  font-family: "tt-modernoir", Georgia, serif;
  font-weight: 500;
  text-decoration: none;
  text-align: center;

}

.hero-detective{
display: inline-block;
  margin-top: 1rem;
  margin-right: 0.75rem;
  padding: .9rem .9rem;
  line-height: 1.2;
  vertical-align: middle;
  border-radius: 999px;
  background-color: #dad9b8;
  color: #493431;
  font-family: "tt-modernoir", Georgia, serif;
  font-weight: 500;
  text-decoration: none;
  text-align: center;

}

.hero-detective2{
  display: inline-block;
  margin-top: 1rem;
  margin-right: 0.75rem;
  padding: .9rem .9rem;
  line-height: 1.2;
  vertical-align: middle;
  border-radius: 999px;
  color: #493431;
  font-family: var(--font-size-body);
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  text-wrap: balance;

}

.hero-detec{
  display: inline-block;
  margin-top: 1rem;
  margin-right: 0.75rem;
  padding: .9rem .9rem;
  line-height: 1.2;
  vertical-align: middle;
  border-radius: 999px;
  background-color: #dad9b8;
  color: #493431;
  font-family: "tt-modernoir", Georgia, serif;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
}


.hero-detec2{
  display: inline-block;
  margin-top: 1rem;
  margin-right: 0.75rem;
  padding: .9rem .9rem;
  line-height: 1.2;
  vertical-align: middle;
  border-radius: 999px;
  color: #493431;
  font-family: var(--font-size-body);
  font-weight: 500;
  text-decoration: none;
  text-align: center;
}

.hero-lugar{
  font-family: "tt-modernoir", Georgia, serif;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  color: #56001e;
  font-size: var(--font-size-h5);
  width: 50%;
}

.hero-lugar3{
  font-family: "tt-modernoir", Georgia, serif;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  color: #56001e;
  font-size: var(--font-size-h5);
  width: 50%;
}

.hero-lugar5{
  font-family: "tt-modernoir", Georgia, serif;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  color: #56001e;
  font-size: var(--font-size-h5);
  width: 50%;
}

.hero-pelis{
  font-family:var(--font-family-body2);
  font-size:var(--font-size-h6);
  color:#493431;
  text-align: left;
  text-wrap: balance;

}

.fuente{
  display: inline-block;
  margin-top: 1rem;
  margin-right: 0.75rem;
  padding: .9rem .9rem;
  line-height: 1.2;
  vertical-align: middle;
  border-radius: 999px;
  background-color: #e7cbb8;
  color: #5d5e2f;
  font-family: "tt-modernoir", Georgia, serif;
  font-weight: 500;
  text-decoration: none;
  text-align: center;

}

.historia-fuentes{
display: inline-block;
  margin-top: 1rem;
  margin-right: 0.75rem;
  padding: .9rem .9rem;
  line-height: 1.2;
  vertical-align: middle;
  border-radius: 999px;
  background-color: #493431;
  color: #dad9b8;
  font-family: "tt-modernoir", Georgia, serif;
  font-weight: 500;
  text-decoration: none;
  text-align: center;

}


.esquinas{display:flex;justify-content: space-between;gap: 1em;align-items: center;}

.hero-lugar2{
  font-family: var(--font-family-body);
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  color: var(--color-heading);
  font-size: var(--font-size-h3);
  width: 50%;
  padding: 0 1em;
  text-wrap: balance;
}

.hero-lugar4{
  font-family: var(--font-family-body);
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  color: var(--color-heading);
  font-size: var(--font-size-h3);
  width: 50%;
  padding: 0 1em;
  text-wrap: balance;
}

.hero-lugar6{
  font-family: var(--font-family-body);
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  color: var(--color-heading);
  font-size: var(--font-size-h3);
  width: 50%;
  padding: 0 1em;
  text-wrap: balance;
}


.hero-gallery {
  min-height: 18rem;
  margin: 0;
  border: 1px solid var(--color-heading);
  display: grid;
  place-items: center;
  text-align: center;
}

.coleccion-personajes{
text-align: center;
font-family: var(--font-family-title);
color: #56001e;
font-weight: 200;
font-size: var(--font-size-h2);
}

.coleccion-detective{
text-align: left;
font-family: var(--font-family-subtitle);
color: #493431;
font-size: var(--font-size-body);
}

.coleccion-datos{
text-align: center;
font-family: var(--font-family-body);
color: #493431;
font-size: var(--font-size-h4);
}

.autora-titulo{
text-align: center;
font-family: var(--font-family-subtitle);
font-size: var(--font-size-h2);
color: #493431;
}

.coleccion-intro {
margin-bottom: 2rem;
font-weight: var(--font-weight-sub);

}

.coleccion-titulo{
color: #dad9b8;
text-align: center;
font-family: var(--font-family-subtitle);
font-weight: 300;
}

.coleccion-titulo2{
color: var(--color-heading);
text-align: center;
font-family: var(--font-family-subtitle);
font-weight: 300;
}

.peliculas{
color: var(--color-text);
text-align: left;
font-family: var(--font-family-title);
font-weight: 300;
font-size: var(--font-size-h5);
}

.peliculas2{
color: var(--color-text);
text-align: left;
font-family: var(--font-family-title);
font-weight: 300;
font-size: var(--font-size-h5);
}

.info{
text-align: center;
font-weight: 200;
font-family: var(--font-family-body2);
}

.info2{
  text-align: center;
  color:#56001e;
  font-weight: 300;
  font-size:var(--font-size-h3);
  text-wrap: balance;
}

.info3{
  text-align: center;
  color:#56001e;
  font-weight: 100;
  font-size:var(--font-size-h2);
  font-family: var(--font-family-subtitle);
}

.porque{
text-align: left;
font-family: var(--font-family-subtitle);
color: #5d5e2f;
font-size: var(--font-size-h2);
}

.datos-agatha{
color: var(--color-accent2);
}

.autora-dama{
font-weight: 200;
color:#5d5e2f;
font-family: var(--font-family-title);
text-align: center;
font-size: var(--font-size-h2);
}

.lugares-tit{
color: #56001e;
text-align: center;
font-family: var(--font-family-subtitle);
font-size: var(--font-size-h2);
}

.lugares{
text-align: center;
color: #56001e;
font-size: var(--font-size-h5);
font-family: var(--font-family-body);
}

.exper{
font-family: var(--font-family-subtitle);
text-align: center;
color: var(--color-background);
font-size: var(--font-size-body);
}

.descrip{
font-family: var(--font-family-subtitle);
text-align: center;
color: #e7cbb8; 
}

/*
  ============================================================
  LINKS
  ============================================================

  El color de acento identifica enlaces y acciones.
*/

a {
  color: var(--color-accent);
}

nav a {
  display: inline-block;
  padding: 0.75rem 1rem;
  border-radius: 999px;
  color: #fbf0f7;
  text-decoration: none;
}


.font-botton {
  font-family: "tt-modernoir", Georgia, serif;
  margin: 0 0.5rem;
  color: #adc4ca;
}

.font-botton1 {
  font-family: "tt-modernoir", Georgia, serif;
  margin: 0 0.5rem;
  color: #e7cbb8;
}

.font-botton2 {
  font-family: "tt-modernoir", Georgia, serif;
  margin: 0 0.5rem;
  color: #56001e;
}

.font-botton3 {
  font-family: "tt-modernoir", Georgia, serif;
  margin: 0 0.5rem;
  color: #493431;
}

.font-botton4 {
  font-family: "tt-modernoir", Georgia, serif;
  margin: 0 0.5rem;
  color: #101936;
}

.font-botton5 {
  font-family: "tt-modernoir", Georgia, serif;
  margin: 0 0.5rem;
  background-color: #493431;
  color: #e7cbb8;
}

nav a#test {
  background-color: #56001e;
}

nav a#coleccion {
  background-color: #5d5e2f;
}

nav a#autora {
  background-color: #dad9b8;
}

nav a#lugares {
  background-color: #e7cbb8;
}

nav a#adaptaciones {
  background-color: #adc4ca;
  
}


/*
  ============================================================
  CONTENEDOR PRINCIPAL
  ============================================================

  width:
  ocupa una proporción del espacio disponible.

  max-width:
  evita que el contenido crezca demasiado.

  margin: 0 auto:
  distribuye el espacio horizontal y centra la caja.
*/

main {
  width: 65%;
  min-width: 290px;
  max-width: 1240px;
  margin: 0 auto;
}


/*
  ============================================================
  ESPACIADO BÁSICO
  ============================================================
*/

header,
main,
footer {
  padding: 2rem;
}

section {
  margin-bottom: 3rem;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
  margin: 1rem 0 0;
  list-style: none;
}



@media (max-width: 700px) {
  .hero-gabinete {
    grid-template-columns: 1fr;
  }
}

#test ul {
  list-style: none;
  padding-left: .5em;
}

.subtitulo{
color: #56001e; 
text-align: center;
font-family: var(--font-family-title);
}

img {
  max-width: 100%;
}

.classTomos{
  width: 50%;
  margin: 0 auto;
  display: block;
}